{% extends "myapp/base.html" %}
{% load static %}

{% block content %}
  <body>
    <nav class='bg-white shadow-lg'>
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
            <!--Логотип-->
            <div >
              <a href="#" class="flex items-center px-2 py-4">
              <img class="h-8 w-8" src="{% static 'images/shopping-cart.png' %}" alt='logo' />
              <span class="text-gray-500 font-semibold text-2xl">Pro Shop</span>
              </a>
            </div>
            <!--Меню-->
            <div class="items-center flex space-x-1">
              <!--Меню HOME border-b-4: это черточка под надписью размером 4,  border-green-500: зеленого цвета -->             
              <a href="#" class="py-4 px-2 text-gray-500 font-semibold border-b-4 border-green-500">Home</a>
              <a href="#" class="py-4 px-2 text-gray-500 font-semibold">About</a>
              <a href="#" class="py-4 px-2 text-gray-500 font-semibold">Contacts</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <h2>
      {% comment %} <a href="/index/{{product.id}}/"> {% endcomment %}
      {% for product in items %}
      <a href="{% url 'myapp:detail' product.id %}">
        ID {{product.id}}: {{product.name}}: цена - {{product.price}} | {{product.description}} <br>
      </a>
      {% endfor %}
    </h2>
  </body>
{% endblock content %}
